# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment Variables
**.env

# MacOS Temp Files
*.DS_Store

# Frontend Dependencies
**/analytics-frontend/node_modules
**/analytics-frontend/yarn.lock
**/analytics-frontend/package-lock.json

# VS Editor
*.vscode
