# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment Variables
**.env

# Frontend related directories and files
**/analytics-frontend/node_modules
**/analytics-frontend/yarn.lock
**/analytics-frontend/README.md

# Remove Mac Dependencies
*.DS_Store
